a {
  text-decoration: none;
}

.contact-us-header {
  background: url("../photo-contact-header.jpg");
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}